/*************  ✨ Codeium Command 🌟  *************/
.vscode/
.idea/
/*************  ✨ Codeium Command ⭐  *************/
*.pyc
__pycache__/
/******  7052a534-4ed5-46d0-b724-4729c8558889  *******/

/******  c8028525-067e-48d7-8cbd-82fdcc2ade21  *******/